<!-- 스플래시 & 추천버튼 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="../assets/css/common.css">

    <style>
        #container { width: 100%; }
        #container header { background-color: red; height:56px; }
        #container header h1 { float: left; font-size: 20px; color: white; font-weight: bold;}
        #container header h1>a { color: inherit; }

        #container header ul> { float: right; border: 1px solid #000000; }
        #container header ul>li { float: left; }

        #container div { height: 43px; background-color: gray; }

    </style>

</head>
<body>

<div id="container">
    <header class="clearfix">
        <h1><a href="#">점심은?</a></h1>
        <ul class="links ">
            <li><a href="#">메뉴등록</a></li>
            <li><a href="#">마이페이지</a></li>
        </ul>
    </header>
    <div>메뉴</div>
    <div>
        메뉴1
        메뉴2
        메뉴3
    </div>    
</div>


</body>
</html>