<!-- 스플래시 & 추천버튼 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="../../assets/css/defalult.css">

    <style>

    </style>

</head>
<body>

<div class="container">
    <header class="clearfix">
        <h1><a href="#">점심은?</a></h1>
        <!-- <ul class="links ">
            <li><a href="#">점심메뉴등록</a></li>
            <li>
                <a href="#">마이페이지</a>
                <ul>
                    <li>나의점심</li>
                    <li>나의리뷰</li>
                </ul>    
            </li>
        </ul> -->
    </header>
<!-- 
    <nav>
        <ul>
            <li>sub-menu</li>
        </ul>
    </nav>
 -->
    <main class="food-choice">
        <h2>오늘의 추천메뉴</h2>
        <form action="#" method="">
            <ol class="food-list">
                <li class="food-item">
                    <img class="food-img" src="../../assets/images/food001.jpg">
                    <div class="food-info-box">
                        <div class="food-title">열무비빔밥+우럭된장우럭우</div>
                        <div class="food-point">
                            <span class="star-wrap">
                                <span class="star-point"></span>
                            </span>
                            <span class="num-point">3.6</span>
                            <span class="num-point">(231)</span>
                        </div>   
                        <div class="food-price">9,500원</div>
                        <div class="food-store">빛고을식당</div>
                        <div class="btn-wrap">
                            <input type="radio" name="foodNo" value="" id="radio1">
                            <label class="btn-choice" for="radio1">선택</label>
                        </div>
                    </div>
                    <!-- food-info-box -->
                </li>
                <!-- //food-item -->
                
                <li class="food-item">
                    <img class="food-img" src="../../assets/images/food002.jpg">
                    <div class="food-info-box">
                        <div class="food-title">등심돈가스</div>
                        <div class="food-point">☆☆☆☆☆4.6(122)</div>
                        <div class="food-price">9,500원</div>
                        <div class="food-store">돈가스대왕전</div>
                        <div class="btn-wrap">
                            <input type="radio" name="foodNo" value="" id="radio2">
                            <label class="btn-choice" for="radio2">선택</label>
                        </div>
                    </div>
                    <!-- food-info-box -->
                </li>
                <!-- //food-item -->

                <li class="food-item">
                    <img class="food-img" src="../../assets/images/food003.jpg">
                    <div class="food-info-box">
                        <div class="food-title">새우토마토스파게티</div>
                        <div class="food-point">☆☆☆☆☆4.6(122)</div>
                        <div class="food-price">9,500원</div>
                        <div class="food-store">봉대박스파게티</div>
                        <div class="btn-wrap">
                            <input type="radio" name="foodNo" value="" id="radio3">
                            <label class="btn-choice" for="radio3">선택</label>
                        </div>
                    </div>
                    <!-- food-info-box -->
                </li>
                <!-- //food-item -->

                <li class="food-item">
                    <img class="food-img" src="../../assets/images/food004.jpg">
                    <div class="food-info-box">
                        <div class="food-title">짜장면</div>
                        <div class="food-point">☆☆☆☆☆4.6(122)</div>
                        <div class="food-price">9,500원</div>
                        <div class="food-store">금화반</div>
                        <div class="btn-wrap">
                            <input type="radio" name="foodNo" value="" id="radio4">
                            <label class="btn-choice" for="radio4">선택</label>
                        </div>

                        

                    </div>
                    <!-- food-info-box -->
                </li>
                <!-- //food-item -->

            </ol>
            <!-- direct-list -->
            <!-- <span class="starRating">
                <span style="width:94%">4.7점</span>(122)
            </span> -->

           

            <div class="again-choice-btn-box clearfix">
                <button id="btn-agian">다시추천</button>
                <a id="btn-choice">오늘 점심메뉴 결정</a>
            </div>
            <!-- //btn-box -->
        </form>
    </main>
    <!-- //food-choice -->
       
</div>
<!-- //container -->

</body>
</html>