<!-- 스플래시 & 추천버튼 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="../../assets/css/defalult.css">

    <style>

    </style>

</head>
<body>

<div class="container">
    <header>
        <h1><a href="#">점심은?</a></h1>
        <!-- <ul class="links ">
            <li><a href="#">점심메뉴등록</a></li>
            <li>
                <a href="#">마이페이지</a>
                <ul>
                    <li>나의점심</li>
                    <li>나의리뷰</li>
                </ul>    
            </li>
        </ul> -->
    </header>
<!-- 
    <nav>
        <ul>
            <li>sub-menu</li>
        </ul>
    </nav>
 -->
    <main class="food-choice">
        <h2>메뉴정보</h2>
        <form action="#" method="">
            <div class="menu-info">
                <article>
                    <div>이미지영역</div>
                    <div>이미지상세</div>
                </article>

                <nav>메뉴</nav>
                <article>
                    <div>식장정보</div>
                    
                </article>
                

            </div>

            
            <!-- //btn-box -->
        </form>
    </main>
    <!-- //food-choice -->
       
</div>
<!-- //container -->

</body>
</html>