@charset "UTF-8";
@import url(./reset.css);
/* clearfix */
.clearfix{zoom:1;}
.clearfix:after {display: block; content: ""; clear: both;}

/* 링크태그 */
a:link      {text-decoration: none; color: #000000; }


a:link      {text-decoration: none; color: #000000; }
a:visited   {text-decoration: none; color: #000000; }
a:active    {text-decoration: none; }
a:hover     {text-decoration: none; color: red; }


/* txt 관련 */
.bold {font-weight: bold;}
.text-center {text-align: center; }
.text-right {text-align: right; }
.text-left {text-align: left; }



/* ------------------------------------------------------------- */

/* 문서 초기화 */
html, body {
    font-family: "맑은 고딕", 돋움, 굴림; 
    font-size: 15px; /* font-size:62.5%; */  /* 1rem=10px */ 
    color: #000000; 
    text-align:center; 
    line-height: 1.2;
    overflow-y:scroll;
    text-align: left;
}


/* ||layout */

/* 전체박스 */
.container {}

/* 해더 */
.container header { height: 48px; padding: 0 10px; border-bottom: 1px solid #000000; line-height: 48px; }
.container header h1 { float: left; font-size: 20px; font-weight: bold;  }


/* main( food-choice: 음식선택 ) */
.food-choice { padding: 10px; }
.food-choice h2 { padding: 0 0 5px 0; font-size: 18px; font-weight: bold; }

/* #recommend #direct 직접 선택 리스트 */
.food-list .food-item { 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between; 
    padding: 10px; 
    margin: 0 0 5px 0; 
    border: 1px solid #BFBFBF; }
.food-list .food-item .food-img { width: 120px; }
.food-list .food-item .food-info-box { 
    display: flex; 
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start; 
    width: calc(100% - 120px - 10px); position: relative; }

.food-list .food-item .food-title { font-size: 16px; font-weight: bold; flex-grow: 2; }
.food-list .food-item .food-price { font-size: 14px; flex-grow: 1; }
.food-list .food-item .food-point { font-size: 0px; flex-grow: 1; }
.food-list .food-item .food-store { font-size: 14px; flex-grow: 1; }
.food-list .food-item .btn-wrap {
    width: 70px; height: 50px;    
    position: absolute; bottom: 0px; right: 0px;
    background-color: aqua;
}

/* 라디오=>선택버튼 모양 */
.btn-wrap input[type=radio]{
    display: none;
}

.btn-wrap .btn-choice {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    font-size: 16px; 
    border-radius: 4px;
    border: 1px solid #f02f64;
    background-color: #ffffff;
    color: #f02f64;
    line-height: 50px;
}

.btn-wrap input[type=radio]:checked+.btn-choice{
    background-color: #f02f64;
    color: #ffffff;
}


.star-wrap {
    display: inline-block;
    overflow:hidden;
    width: 75px;
	height: 14px;
    background-size: 75px auto;
    background-image: url("../images/star.png");
    background-repeat: no-repeat;
    background-position:0 0px;
}

.star-wrap > .star-point {
    display: inline-block;
    overflow:hidden;
    width: 34%;  /* 별점따라 변하는부분 */
	height: 100%;
    background-size: 75px auto;
    background-image: url("../images/star.png");
    background-repeat: no-repeat;
    background-position:0 -15px;
}

.num-point, .review-count {
    display: inline-block;
    height: 14px;
    line-height: 14px;
    font-size: 15px;
    font-weight: bold;
}



.rate{background: url(https://aldo814.github.io/jobcloud/html/images/user/star_bg02.png) no-repeat;width: 121px;height: 20px;position: relative;}
.rate span{position: absolute;background: url(https://aldo814.github.io/jobcloud/html/images/user/star02.png);width: auto;height: 20px;}


/* Star Rating */
.starRating,.starRating span{ 
    width: 205px;
	height: 40px;
    display:inline-block; 
    background-size: cover; 
    background-repeat: no-repeat;          
    background-image: url("../images/star.png");
    overflow:hidden;
}
.starRating{ width:79px; vertical-align:middle;}
.starRating span{ font-size:0; line-height:0; vertical-align:top; text-indent:-100px; text-indent:0; background-position:0 -14px;}