@charset "UTF-8";
@import url(./reset.css);
/* clearfix */
.clearfix{zoom:1;}
.clearfix:after {display: block; content: ""; clear: both;}

/* 링크태그 */
a:link      {text-decoration: none; color: #000000; }


a:link      {text-decoration: none; color: #000000; }
a:visited   {text-decoration: none; color: #000000; }
a:active    {text-decoration: none; }
a:hover     {text-decoration: none; color: red; }


/* txt 관련 */
.bold {font-weight: bold;}
.text-center {text-align: center; }
.text-right {text-align: right; }
.text-left {text-align: left; }



/* ------------------------------------------------------------- */

/* 문서 초기화 */
html, body {
    font-family: "맑은 고딕", 돋움, 굴림; 
    font-size: 15px; /* font-size:62.5%; */  /* 1rem=10px */ 
    color: #000000; 
    text-align:center; 
    line-height: 1.2;
    overflow-y:scroll;
    text-align: left;
}


/* ||layout */

/* 전체박스 */
.container {}

/* 해더 */
.container header { height: 48px; padding: 0 10px; border-bottom: 1px solid #000000; line-height: 48px; }
.container header h1 { float: left; font-size: 20px; font-weight: bold;  }


/* main( food-choice: 음식선택 ) */
.food-choice { padding: 10px; }
.food-choice h2 { padding: 0 0 5px 0; font-size: 18px; font-weight: bold; }

/* #recommend #direct 직접 선택 리스트 */
.food-list .food-item { 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between; 
    padding: 10px; 
    margin: 0 0 5px 0; 
    border: 1px solid #BFBFBF; }
.food-list .food-item .food-img { width: 120px; }
.food-list .food-item .food-info-box { 
    display: flex; 
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start; 
    width: calc(100% - 120px - 10px); position: relative; }

.food-list .food-item .food-title { font-size: 16px; font-weight: bold; flex-grow: 2; }
.food-list .food-item .food-price { font-size: 14px; flex-grow: 1; }
.food-list .food-item .food-point { font-size: 14px; flex-grow: 1; }
.food-list .food-item .food-cate { font-size: 14px; flex-grow: 1; }
.food-list .food-item .btn-wrap {
    width: 70px; height: 50px;    
    position: absolute; bottom: 0px; right: 0px;
}

.food-list .food-item .btn-choice {
    width: 100%;
    height: 100%;
    font-size: 16px; 
    border-radius: 0.4rem;
    border: 1px solid #f02f64;
    background-color: #ffffff;
    color: #f02f64;
}


 input[type=radio]{
    display: none;
}
 input[type=radio]+label {
    display: inline-block;
    cursor: pointer;
    height: 24px;
    width: 90px;
    border: 1px solid #333;
    line-height: 24px;
    text-align: center;
    font-weight:bold;
    font-size:13px;
    background-color: #fff;
    color: #333;
}


input[type=radio]:checked+label{
    background-color: #333;
    color: #fff;
}

#direct-list .food-item .food-inner { float: right; width: calc(100% - 120px - 10px); }

#direct-list .food-item ul { float: left; }
#direct-list .food-item ul>li {padding: 0px 0px 2px 0px; font-size: 14px; }

 */
 */